{% extends "layout.html" %}

{% block title %}
    C$50 Finance: Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            <div class="password">
                <p class="requirements">Password must contain following:</p>
                <ul class="list">Minimum 8 characters</ul>
                <ul class="list">A capital letter</ul>
                <ul class="list">A lowercase letter</ul>
                <ul class="list">A number</ul>
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}